.equal-division-item {
  padding: 0px;
  background-color: #2ec4b6;
  height: 129px;
  width: 350px;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section_1 {
   padding-bottom: 374px;
  backdrop-filter: blur(2px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: solid 3px #2ec4b6;
}
.section_2 {
  padding: 31px 27px 30px;
  background-color: #fdfffc;
  border: solid 2px #2ec4b6;
} 
.image-wrapper {
  padding:0px;
  background-color: #fdfffc;
  width: 200px;
  height: 200px;
  border: solid 1px #2ec4b6;
}
.text {
  margin: 90px 261.52px 0 42.52px;
  color: #011627;
  font-size: 40px;
  font-family: Inter;
  font-weight: 700;
  line-height: 29.52px;
}
.section_4 {
  margin-left: 150px;
}
.image {
  width: 166px;
  height: 179px;
}
.image_1 {
  border-radius: 10px;
  width: 129px;
  height: 125px;
}
.text_1 {
  margin-left: 40.52px;
  margin-top: 57px;
  color: #011627;
  font-size: 26px;
  font-family: Inter;
  font-weight: 700;
  line-height: 25.52px;
}
.image_2 {
  flex-shrink: 0;
  width: 129px;
  height: 125px;
}
.text_2 {
  margin: 59px 57.52px 0 52.48px;
  color: #011627;
  font-size: 26px;
  font-family: Inter;
  font-weight: 700;
  line-height: 19px;
}
.image_3{
  width: 100px;
  height: 100px;
  margin-top: 50px ;
}