
.text {
  color: #000000;
  font-size: 26px;
  font-family: Inter;
  line-height: 19px;
  margin-left: 60px;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section_1 {
  width: 760px;
  height: 700px;
  backdrop-filter: blur(2px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: solid 3px #2ec4b6;
  margin-left: 350px;
}

.image {
  margin-left: 259px;
  margin-top: 34px;
  width: 209px;
  height: 171px;
}
.inputgroup{
  margin-top: 350px;
  margin-left: 220px;
}
.text-wrapper_2{
    margin-left: 60px;
    margin-top: 20px;
    background-color: #2ec4b6;
    width: 250px;
}
.image-wrapper_1 {
  margin-left: 60px;
  margin-top: 20px;
  width: 250px;
}
.text_5 {
  color: #011627;
  font-size: 30px;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
} 