.section_1 {
  width: 760px;
  height: 700px;
  backdrop-filter: blur(2px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: solid 3px #2ec4b6;
  margin-left: 350px;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.text-wrapper {
  align-self: center;
  padding: 12px 0 11px;
  box-shadow: 0px 4px 4px #00000040;
  width: 300px;
  border: solid 1px #000000;
}
.text {
  color: #000000;
  font-size: 26px;
  font-family: Inter;
  line-height: 19px;
}
.text-wrapper_2 {
  margin-top: 30px;
  margin-left: -15px;
  padding: 19px 0 16px;
  align-self: center;
  background-color: #2ec4b6;
  width: 350px;
}
.section_2 {
  padding: 10px 10px 10px;
  background-color: #fdfffc;
  border: solid 2px #2ec4b6;
}
.view {
  margin-top: 15px;
}

.text-wrapper_1 {
  margin-top: 18px;
  padding: 11px;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  width: 300px;
  border: solid 1px #000000;
}
.section_3 {
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  align-self: center;
  box-shadow: 0px 4px 4px #00000040;
  border: solid 1px #000000;

}
 .text_5 {
  color: #011627;
  font-size: 30px;
  font-family: Inter;
  font-weight: 700;
  line-height: 28px;
} 
.image {
  width: 500px;
  height: 300px;
}
.image-wrapper {
  margin-left: 208px;
  padding: 1.48px 0 1.48px;
  background-color: #fdfffc;
  width: 100px;
  height: 100px;
  border: solid 1px #000000;
}

.info{
  margin-left:220px ;
}